* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/*font family*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,400&display=swap');

html {
    font-size: 10px;
}

.background-color {
    background-color: #000;
}

/* Inicio navbar header */
header .nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.logo {
    justify-content: flex-start;
}

.lista-navbar {
    justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;

}

ul li {
    padding: 20px;
    font-size: 2rem;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    border-bottom: 2px solid #000;
    transition: .3s;

}

a:hover {
    border-bottom: 2px solid #fff;
}

/* Fin navbar header */

/*INICIO INDEX*/


/* Inicio banner */
.banner {
    background-image: url(../img/banner-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
}

/* Fin navbar */

/* Inicio section ¿quiénes somos? */
.h1 {
    /* text-align: center; */
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 50px;
}

.p-principal {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    width: 1000px;
    text-align: center;
    position: relative;
    left: 500px;
    padding-top: 20px;
}

/* Fin section ¿quiénes somos? */

/* Inicio carrusel novedades */
.h2-index {
    background-color: #f2de42;
    color: black;
    text-align: center;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.carrusel-novedades {
    display: flex;
    justify-content: space-around;
}

.carrusel {
    display: inline-block;

}

.imagen {
    width: 329px;
    margin: 20px 10px 0px 10px;
}

.p-novedades {
    width: 329px;
    height: 140px;
    overflow: auto;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    margin: 20px 10px 0px 10px;
}

/* Fin carrusel novedades */

/* Inicio footer */
.footer-container {
    background-color: #181919;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    padding-left: 20px;
}

.nav-footer {
    width: 30%;
}

.lista-footer {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

/*FIN INDEX*/



/* INICIO CONTACTO */
.h2 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-top: 50px;
}

.p-contacto {
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    line-height: 1.6;
    width: 1000px;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-grilla {
    margin: 50px;
    display: block;
}

/* FIN CONTACTO*/

/*INICIO STAFF*/
.titulo-staff {
    display: flex;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin-top: 50px;
    margin-left: 20px;
}

/* .section-staff{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;*
} */

/* GALLERY */

.gallery-container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 400px;
    column-gap: 15px;
    row-gap: 30px;
}

.grid-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item {
    position: relative;
}

h3 {
    margin-left: 20px;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

/* FIN GALLERY - STAFF */




/* MOBILE */
@media only screen and (max-width:450px) {

    header .nav-header {
        display: none;
    }

    /* .gallery-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 150px
} */
    .gallery-container {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
    }

    .grid-imagen {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .gallery-item {
        justify-items: center;
        grid-column: span 1;
        grid-row: span 1;
    }

    /* FOOTER MOBILE */
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 60px;
    }


    .logo-footer {
        width: 50%;
    }

    .nav-footer {
        width: 20%;
    }

    .lista-footer {
        list-style: none;
        display: flex;
        justify-content: space-between;
        justify-items: end;
    }

    .icono-footer {
        width: 50px;
    }

    /* FIN FOOTER */

    /* INICIO CONTACTO */

    .div-infocontacto {
        padding-left: 10px;
        padding-right: 10px;
    }

    .h2 {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .p-contacto {
        color: #fff;
        font-size: 1rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: lighter;
        line-height: 1.6;
        width: auto;
        text-justify: center;
        padding-left: 10px;
        padding-right: 10px;
    }

    .google-maps {
        width: fit-content;
    }

    /* HORARIO */
    .sala1 {
        width: 80%;
        justify-items: center;
    }

    .horario-container {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 2fr;
        grid-auto-rows: auto;
        row-gap: 10px;
        column-gap: 30px;
    }

    .horario-item {
        justify-items: center;
        grid-column: span 1;
        grid-row: span 1;
        position: relative;
    }

    .horario-img {
        object-fit: cover;
    }

    /* INDEX */
    .banner {
        background-image: url(../img/banner-index.jpg);
        background-position: center;
    }

    .h2-index {
        font-size: 2rem;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-items: center;
    }

    .h1 {
        font-size: 2rem;
    }

    .p-novedades {
        font-size: 1rem;
        margin: 10px 5px 0px 5px;
    }

    .imagen {
        margin: 10px 5px 0px 5px;
    }
}

@media (min-width:451px) and (max-width:960px) {
    header .nav-header {
        display: none;
    }

    .gallery-container {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 15px;
    }

    .grid-imagen {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .gallery-item {
        justify-items: center;
        grid-column: span 1;
        grid-row: span 1;
    }

    /* FOOTER tablet */

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: auto;
        height: 80px;
    }


    .logo-footer {
        width: 60%;
    }

    .nav-footer {
        width: 20%;
    }

    .lista-footer {
        list-style: none;
        display: flex;
        justify-content: space-between;
        justify-items: end;
    }

    .icono-footer {
        width: 50px;
    }

    /* FIN FOOTER */

    /* INICIO CONTACTO */

    .div-infocontacto {
        padding-left: 20px;
        padding-right: 20px;
    }

    .h2 {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        margin-top: 10px;
    }

    .p-contacto {
        font-size: 1.5rem;
        line-height: 1.6;
        width: auto;
        text-justify: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .google-maps {
        width: fit-content;
    }

    /* HORARIO */
    .sala1 {
        width: 80%;
        justify-items: center;
    }

    .horario-container {
        padding-left: 10px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: 2fr;
        grid-auto-rows: auto;
        row-gap: 10px;
        column-gap: 30px;
    }

    .horario-item {
        justify-items: center;
        grid-column: span 1;
        grid-row: span 1;
        position: relative;
    }

    .horario-img {
        object-fit: cover;
    }

    /* INDEX */
    .banner {
        background-image: url(../img/banner-index.jpg);
        background-position: center;
    }

    .h2-index {
        font-size: 2rem;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        justify-items: center;
    }

    .h1 {
        font-size: 2rem;
    }

    .p-novedades {
        font-size: 1.5rem;
        margin: 10px 5px 0px 5px;
    }

    .imagen {
        margin: 10px 5px 0px 5px;
    }
}