<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo-01.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Movst|Contacto</title>

</head>

<body class="background-color">
    <header class="header-container">
        <!-- inicio navbar -->
        <nav class="navbar navbar-expand-lg nav-background">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./img/logo-02.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav-button" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-title" aria-current="page" href="./views/horarios.html">Horarios</a>
                        <a class="nav-link nav-title" href="./views/staff.html">Staff</a>
                        <a class="nav-link nav-title" href="./views/faq.html">Preguntas frecuentes</a>
                        <a class="nav-link nav-title" href="./views/contacto.html">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="div-infocontacto">
            <h2 class="h2">Info de contacto</h2>
            <p class="p-contacto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, sunt?
                Cupiditate quae modi tempora temporibus a. Reprehenderit laudantium odit accusamus illum deserunt
                repudiandae quaerat at eum, nostrum soluta. Nostrum, laudantium?</p>
            <h2>Tambien podés encontrarnos en:</h2>

            <!--Formulario de contacto-->


            <h2 class="h2">Ubicación</h2>
            <iframe class="google-maps"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.230092512789!2d-58.45044408543564!3d-34.573044080467376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5db335c7359%3A0xa0359cc75a6de2e8!2sColegiales!5e0!3m2!1ses!2sar!4v1648794460971!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>

    <!-- Inicio footer -->
    <footer class="footer-container">
        <div>
            <img class="logo-footer" src="../img/logo-02.png" alt="logo">
        </div>
        <div>
            <nav class="nav-footer">
                <ul class="lista-footer">
                    <li>
                        <img class="icono-footer" src="../img/icono-instagram-04.png" alt="Instagram">
                    </li>
                    <li>
                        <img class="icono-footer" src="../img/icono-mail-04.png" alt="E-mail">
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <!-- Fin footer -->

</body>

</html>