<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Estudio de danzas urbanas que se dedica a formar bailarines de
    manera integral - ¡Todos los estilos y todos los niveles en un sólo lugar! Empezá a estudiar estilos urbanos en MOVst">
    <meta name="keywords"
        content="danzas urbanas, streetfusion, estudio de danza, bailar, danza, urbano, femmestyle, reggaeton, ritmos urbanos, clases de reggaeton, profe de danza">

    <link rel="shortcut icon" href="../img/Logo-01.ico" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <title>Movst | Contacto</title>

</head>

<body class="background-color">
    <header class="header-container">

        <!-- Inicio navbar header -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img src="../img/logo-02.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav__button" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav__title" aria-current="page" href="./horarios.html">Horarios</a>
                        <a class="nav-link nav__title" href="./staff.html">Staff</a>
                        <a class="nav-link nav__title" href="./galeria.html">Galería</a>
                        <a class="nav-link nav__title" href="./contacto.html">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- fin navbar header -->
    </header>

    <main>

        <!-- Inicio info contacto -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <img class="img-fluid col-6 d-flex titulo__principal" src="../img/contato-01.png"
                                        alt="nuestros profes">
                                    <p class="parrafo__general"> Mandanos un mensajito a traves de Instagram o mail, o
                                        veni a
                                        visitarnos en
                                        nuestra casa MOVst</p>
                                    <div class="contacto__redes">
                                        <img class="contacto__redes--icono" src="../img/logo-instagram-04.png"
                                            alt="contacto instagram">
                                        <h2 class="contacto__redes--texto">@movst</h2>
                                    </div>
                                    <div class="contacto__redes">
                                        <img class="contacto__redes--icono" src="../img/logo-mail-02.png"
                                            alt="contacto E-mail">
                                        <h2 class="contacto__redes--texto">movst@gmail.com</h2>
                                    </div>
                                </div>
                                <!-- Inicio section formulario -->
                                <div class="col-md-6">
                                    <img class="img-fluid col-xl-6 col-md-12 col-sm-12 d-flex titulo__principal"
                                        src="../img/form-titulo-01.png" alt="form">
                                    <form action="server (url)" method="post">
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <fieldset class="contacto__form--fieldset">
                                                <legend class="contacto__form--title">Nombre</legend>
                                                <label for="name"></label>
                                                <input class="contacto__input" type="text" id="name">
                                            </fieldset>
                                            <fieldset class="contacto__form--fieldset">
                                                <legend class="contacto__form--title">E-mail</legend>
                                                <label for="mail"></label>
                                                <input class="contacto__input" type="email" id="mail"
                                                    placeholder="ejemplo@gmail.com">
                                            </fieldset>
                                            <fieldset class="contacto__form--fieldset">
                                                <legend class="contacto__form--title">¡Dejanos tus preguntas!</legend>
                                                <label for="text-form"></label>
                                                <textarea class="contacto__input textarea" name="Comentarios"
                                                    id="text-form" cols="30" rows="10"></textarea>
                                            </fieldset>
                                            <button class="contacto__form--button" type="submit">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Fin section formulario -->
                            </div>
                        </div>
                        <!-- Inicio section maps -->
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex">
                                <img class="titulo__principal" src="../img/ubicacion-01.png" alt="ubicacion">
                            </div>
                            <div>
                                <iframe class="google-maps col-md-12"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.230092512789!2d-58.45044408543564!3d-34.573044080467376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5db335c7359%3A0xa0359cc75a6de2e8!2sColegiales!5e0!3m2!1ses!2sar!4v1648794460971!5m2!1ses!2sar width="
                                    600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                        <!-- Fin section maps -->
                    </div>
                </div>
            </div>

            <!--Fin info contacto -->

    </main>

    <!-- Inicio footer -->
    <footer>
        <div class="footer">
            <img src="../img/logo-02.png" alt="logo footer">
        </div>
        <div class="footer__contacto">
            <a href=""><img class="footer__icono" src="../img/logo-mail-02.png" alt="Enlace mail">
            </a>
            <a href="https://www.instagram.com/"><img class="footer__icono" src="../img/logo-instagram-04.png"
                    alt="Enlace instagram">
            </a>
            <a
                href="https://www.google.com/maps?ll=-34.573044,-58.448255&z=16&t=m&hl=es&gl=US&mapclient=embed&cid=11544305599863710440"><img
                    class="footer__icono" src="../img/logo-ubicación-03.png" alt="Enlace google maps">
            </a>
        </div>
    </footer>
    <!-- Fin footer -->

</body>

</html>