<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Estudio de danzas urbanas que se dedica a formar bailarines de manera integral - ¡Todos los estilos y todos los niveles en un sólo lugar! Empezá a estudiar estilos urbanos en MOVst">
    <meta name="keywords"
        content="danzas urbanas, streetfusion, estudio de danza, bailar, danza, urbano, femmestyle, reggaeton, ritmos urbanos, clases de reggaeton, profe de danza">
    <title>MOVst|Horarios</title>
    <link rel="shortcut icon" href="../img/Logo-01.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body class="background-color height">

    <header class="header-container">

        <!-- Inicio navbar header -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="../img/logo-02.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav__button" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav__title" aria-current="page" href="./horarios.html">Horarios</a>
                        <a class="nav-link nav__title" href="./staff.html">Staff</a>
                        <a class="nav-link nav__title" href="./galeria.html">Galería</a>
                        <a class="nav-link nav__title" href="./contacto.html">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- fin navbar header -->
    </header>
    <!-- fin navbar header -->

    <main>
        <!--Inicio section texto horarios-->
        <div>
            <center>
                <img class="titulo__principal" src="../img/grilla.png" alt="titulo-novedades">
                <p class="parrafo__general">En MOVst podés aprender y entrenar los diferentes estilos de Street Dance y
                    fusión. Capacitate profesionalmente en nuestra escuela para bailarines.</p>
            </center>
        </div>

        <!--Fin section texto horarios-->

        <!-- Inicio section grilla de horarios -->

        <section>
            <center>
                <div class="horario__container">

                    <img class="horario__sala" src="../img/grilla-horarios-02.png" alt="horarios">
            </center>


            <div class="horario__container justify-content-center">
                <div class="horario__img "><img src="../img/grilla lunes sala1-05.png"></div>
                <div class="horario__img"><img src="../img/grilla martes sala1-05.png" alt=""></div>
                <div class="horario__img"><img src="../img/grilla miercoles sala1-05.png" alt=""></div>
                <div class="horario__img"><img src="../img/grilla jueves sala1-05.png" alt=""></div>
                <div class="horario__img"><img src="../img/grilla jueves sala1-05.png" alt=""></div>
            </div>
        </section>
        <!--Fin section grilla de horarios-->
    </main>

    <!-- Inicio footer -->
    <footer class="horarios__footer">
        <div class="footer">
            <img src="../img/logo-02.png" alt="logo footer">
        </div>
        <div class="footer__contacto">
            <a href=""><img class="footer__icono" src="../img/logo-mail-02.png" alt="Enlace mail">
            </a>
            <a href="https://www.instagram.com/"><img class="footer__icono" src="../img/logo-instagram-04.png"
                    alt="Enlace instagram">
            </a>
            <a
                href="https://www.google.com/maps?ll=-34.573044,-58.448255&z=16&t=m&hl=es&gl=US&mapclient=embed&cid=11544305599863710440"><img
                    class="footer__icono" src="../img/logo-ubicación-03.png" alt="Enlace google maps">
            </a>
        </div>
    </footer>
    <!-- Fin footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <!-- FIN JS BOOTSTRAP -->
</body>

</html>