<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVst|Horarios</title>
    <link rel="shortcut icon" href="../img/Logo-01.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">

</head>

<body class="background-color">

    <!-- Inicio navbar header -->
    <header class="header-container">
        <nav class="nav-header">
            <div class="logo">
                <a class="logo" href="../index.html"><img src="../img/logo-02.png" alt="logo"></a>
            </div>

            <ul class="lista-navbar">
                <li>
                    <a href="./horarios.html">Horarios</a>
                </li>
                <li>
                    <a href="./staff.html">Staff</a>
                </li>
                <li>
                    <a href="./faq.html">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin navbar header -->

    <main>
        <!--Inicio section texto horarios-->
        <h1 class="h1">Grilla de horarios</h1>
        <p class="p-contacto">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, dignissimos unde quo
            excepturi sequi reiciendis, nemo animi officiis at libero.</p>
        <!--Fin section texto horarios-->

        <!--Inicio imagenes grilla de horario -->
        <!-- <div class="img-conteiner">
            <img class="img-grilla" src="../img/Grilla-02.png" alt="Sala1">
            <img class="img-grilla" src="../img/Grilla-03.png" alt="Sala2">
        </div> -->

        <section>
            <div class="horario-container">
                <img class="sala1" src="../img/sala1-07.png" alt="sala 1">
                <div class="horario-item">
                    <img class="horario-img" src="../img/grilla lunes sala1-05.png" alt="lunes sala1">
                    <img class="horario-img" src="../img/grilla martes sala1-05.png" alt="martes sala1">
                    <img class="horario-img" src="../img/grilla miercoles sala1-05.png" alt="miercoles sala1">
                    <img class="horario-img" src="../img/grilla jueves sala1-05.png" alt="jueves sala1">
                    <img class="horario-img" src="../img/grilla viernes sala1-05.png" alt="viernes sala1">
                </div>
            </div>        
        </section>
        <!--Fin imagenes grilla de horario-->
    </main>

    <!-- Inicio footer -->
    <footer class="footer-container">
        <div>
            <img class="logo-footer" src="../img/logo-02.png" alt="logo">
        </div>
        <div>
            <nav class="nav-footer">
                <ul class="lista-footer">
                    <li>
                        <img class="icono-footer" src="../img/icono-instagram-04.png" alt="Instagram">
                    </li>
                    <li>
                        <img class="icono-footer" src="../img/icono-mail-04.png" alt="E-mail">
                    </li>
                </ul>
            </nav>
        </div>

    </footer>
    <!-- Fin footer -->

</body>

</html>