<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVst</title>
    <link rel="shortcut icon" href="./img/logo-02.ico" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
</head>

<body class="background-color">

    <!-- Inicio navbar header -->
    <header class="header-container">
        <nav class="nav-header">
            <div class="logo">
                <a class="logo" href="../index.html"><img src="../img/logo-02.png" alt="logo"></a>
            </div>

            <ul class="lista-navbar">
                <li>
                    <a href="./horarios.html">Horarios</a>
                </li>
                <li>
                    <a href="./staff.html">Staff</a>
                </li>
                <li>
                    <a href="./faq.html">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin navbar header -->

    <!-- Inicio footer -->
    <footer class="footer-container">
        <div class="logo-footer">
            <img src="../img/logo-02.png" alt="logo">
        </div>
        <div>
            <nav class="nav-footer">
                <ul class="lista-footer">
                    <li>
                        <img src="../img/icono-instagram-04.png" alt="Instagram">
                    </li>
                    <li>
                        <img src="../img/icono-mail-04.png" alt="E-mail">
                    </li>
                </ul>
            </nav>
        </div>
    </footer>
    <!-- Fin footer -->

</body>

</html>