<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo-01.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" <title>Document</title>
</head>

<body class="background-color">

    <!-- Inicio navbar header -->
    <header class="header-container">
        <nav class="nav-header">
            <div class="logo">
                <a class="logo" href="../index.html"><img src="../img/logo-02.png" alt="logo"></a>
            </div>
            <ul class="lista-navbar">
                <li>
                    <a href="./horarios.html">Horarios</a>
                </li>
                <li>
                    <a href="./staff.html">Staff</a>
                </li>
                <li>
                    <a href="./faq.html">Preguntas frecuentes</a>
                </li>
                <li>
                    <a href="./contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <!-- fin navbar header -->

    <main>
        <h1 class="titulo-staff">NUESTROS PROFES</h1>

        <!--Inicio profes-->

        <div class="gallery-container">
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
        </div>
        <!--fin profes-->

    </main>



    <!-- Inicio footer -->
    <footer class="footer-container">
        <div>
            <img class="logo-footer" src="../img/logo-02.png" alt="logo">
        </div>
        <div>
            <nav class="nav-footer">
                <ul class="lista-footer">
                    <li>
                        <img class="icono-footer" src="../img/icono-instagram-04.png" alt="Instagram">
                    </li>
                    <li>
                        <img class="icono-footer" src="../img/icono-mail-04.png" alt="E-mail">
                    </li>
                </ul>
            </nav>
        </div>

    </footer>
    <!-- Fin footer -->

    <!-- JS AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>