<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/Logo-01.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css" <title>Document</title>
</head>

<body class="background-color">

    <!-- Inicio navbar header -->
    <header class="header-container">
        <nav class="navbar navbar-expand-lg nav-background">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="./img/logo-02.png" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end nav-button" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link nav-title" aria-current="page" href="./views/horarios.html">Horarios</a>
                        <a class="nav-link nav-title" href="./views/staff.html">Staff</a>
                        <a class="nav-link nav-title" href="./views/faq.html">Preguntas frecuentes</a>
                        <a class="nav-link nav-title" href="./views/contacto.html">Contacto</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- fin navbar header -->

    <main>
        <h1 class="titulo-staff">NUESTROS PROFES</h1>

        <!--Inicio profes-->

        <div class="gallery-container">
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-1-04.png"
                    alt="gallery-img">
                <h3>Mica Gomez</h3>
            </div>
            <div class="gallery-item">
                <img class="grid-imagen" data-aos="zoom-in" data-aos-duration="500" src="../img/profe-2-04.png"
                    alt="gallery-img2">
                <h3>Gasti Diaz</h3>
            </div>
        </div>
        <!--fin profes-->

    </main>



    <!-- Inicio footer -->
    <footer class="footer-container">
        <div>
            <img class="logo-footer" src="../img/logo-02.png" alt="logo">
        </div>
        <div>
            <nav class="nav-footer">
                <ul class="lista-footer">
                    <li>
                        <img class="icono-footer" src="../img/icono-instagram-04.png" alt="Instagram">
                    </li>
                    <li>
                        <img class="icono-footer" src="../img/icono-mail-04.png" alt="E-mail">
                    </li>
                </ul>
            </nav>
        </div>

    </footer>
    <!-- Fin footer -->

    <!-- JS AOS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</body>

</html>