@import '../base/variables';
@import'../base/extend';
@import'../base/maxin';

footer {
    background-color: nth($colores, 3);

    div {
        div {
            div {
                .logo-footer {
                    @extend %flex;
                    @include flex (flex-start, nowrap);
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .icono-footer{
                    @extend %flex;
                    @include flex (space-between, nowrap);
                }
            }
        }
    }
}