@import '../base/variables';
@import'../base/extend';
@import'../base/maxin';
@import '../base/listas';

footer {
    background-color: nth($colores, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    div {
        .footer{
            margin-left: 20px;
            margin-right: 20px;
        }
        .footer__icono {
            align-items: center;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            margin-right: 10px;
            @media (max-width:450px) {
                width: 30px;
                height: 30px;
            }
        }
    }

    }    