@import '../base/variables';
@import '../base/listas';
@import '../base/map';

header {
    background-color: $bg-color-gral;

    nav {
        .nav__button {
            font-size: map-get($navboton, font-size);
            color: nth($colores, 2);
            font-weight: map-get($navboton , font-weight);
            justify-content: map-get($navboton, justify-content);
        }

        div {
            div {

                a {
                    .nav__title {
                        color: nth($colores, 2);
                        text-decoration: none;
                        padding-right: 10px;
                        padding-left: 15px;
                    }

                    .nav-title:hover {
                        text-decoration: none;
                        color: nth($colores, 2);
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}