@import '../base/variables';
@import '../base/listas';

// Section ¿quienes somos?

body {
    section {
        .titulo {
            max-width: 600px;
            max-height: auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .p-contacto {
            color: nth($colores, 2);
            font-size: nth($font-size, 1);
            @extend %tipografia;
        }
    }
}

// Section novedades
div {
    section {
        div {
            div {
                div {
                    .novedades__parrafo {
                        @extend %tipografia;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        font-size: nth($font-size, 2);
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}