@import '../base/extend';

    main {
        section {
            div {
                div {
                    div {
                        a{
                            img{
                                .gallery-item {
                                    position: relative;
                                    transition-duration: 0.4s;
                                }
                                .gallery-item:hover {
                                    transform: scale(1.1);
                                }
                            }
                            h4{
                                .tittle {
                                    @extend %tipografia
                                }
                            }
                        }
                    }
                }
            }
        }
    }